[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/OpenCast"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/OpenCast
	url = git@github.com:opencast-ilias/OpenCast.git
[submodule "Customizing/global/plugins/Services/COPage/PageComponent/OpencastPageComponent"]
	path = Customizing/global/plugins/Services/COPage/PageComponent/OpencastPageComponent
	url = git@github.com:opencast-ilias/OpencastPageComponent.git
